// general
body {
	font-size: 90%;
	font-family: $bodytext;
	line-height: 1.618;
	color: lighten($darkbrown, 10);
	background: #fafafa;
}
p {
	margin-bottom: 20px;
}
*, *:after, *:before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: lighten($red, 9);
	
	&:hover {
		color: lighten($red, 15);
	}
}
strong {
	font-weight: bold;
}
img {
	max-width: 100%;
}
.divider {
	display:block;
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid #ddd;
	clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}	


// general layout
html, body, #pagewrap {
	height: 100%;
	width: 100%;
	display: block;
}
#pagewrap {
  z-index: 1;
}

.row {
	@include layout($default);
	@include container(1190px);
	@extend .clearfix;
}
.container-padding {
	padding: 0 45px;
  @include breakpoint($mw-480) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


// header
header {
	@extend .container-padding;
	
	height: $headerheight;
	background: $tan;
	width: 100%;
	display: block;
  @include breakpoint($pair-960-1090) {
    height: 156px;
  }
	
	.row {
		margin: 0;
	}
	
	.logo {
		@include span(2 of 12);
    @include breakpoint($mw-1090) {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
    @include breakpoint($mw-960) {
      width: 150px;
      text-align: left;
    }
		
		img {
			width: 150px;
			margin-top: 17px;
		}
	}
	
	nav {
		@include span(10 of 12 last);
    @include breakpoint($mw-1090) {
      width: 100%;
      text-align: center;
    }
    @include breakpoint($mw-960) {
      display: none;
    }
		
		ul li {
			display: inline-block;
			position: relative;
			
			a {
				text-transform: uppercase;
				font-family: $bodytext;
				line-height: $headerheight;
				display: block;
				color: $darkbrown;
        font-weight: 400;
				font-size: 11px;
				padding: 0 14px;
				letter-spacing: 1px;
        @include breakpoint($mw-1260) {
          padding: 0 7px;
        }
        @include breakpoint($mw-1090) {
          line-height: 64px;
        }
				
				&:hover,
				&.active {
					background: darken($tan, 3);
				}
			}
			
			.sub-menu {
				display: none;
				position: absolute;
				left: 0;
				top: 103px;
				width: 260px;
				background: #fff;
				z-index: 999;
				border-right: 5px solid #eee;
				border-left: 5px solid #eee;
				border-bottom: 5px solid #eee;
        @include breakpoint($mw-1090) {
          top: 64px;
        }
				
				li {
					display: block;
					width: 100%;
					border-top: 1px solid darken($offwhite, 8);
					
					a {
						line-height: 34px;
						font-size: 10px;
						padding: 0 24px;
						
						&:hover,
						&.active {
							color: lighten($red, 15);
							background: darken($offwhite, 2);
						}
					}
				}
			}
			
			&.menu-item-has-children:hover {
				background: darken($tan, 3);
				
				.sub-menu {
					display: block;
				}
			}
		}
	}
}

// mobile menu
.mobmenu-trigger {
  display: none;
  position: absolute;
  right: 45px;
  top: 35px;
  @include breakpoint($mw-480) {
    right: 20px;
  }
    
  a {
    display: block;
    
    i {
      font-size: 30px;
    }
    span {
      display: inline-block;
      padding-left: 7px;
      position: relative;
      top: -4px;
    }
  }
  @include breakpoint($mw-960) {
    display: block;
  }
}
.mm-menu {
  z-index: 1;
}
.mm-next,
.mm-prev {
  width: 100% !important;
  border: none !important;
}

#mobmenu {
  visibility: hidden;
  background: url(../../img/sidenavbg.jpg) left top no-repeat;
  background-size: cover;
  color: $tan;
  
  .mm-header {
    top: 45px;
    &:hover {
      background: rgba(black, 0.2);
    }
  }
  .mm-header>a {
    color: rgba($tan, 0.7);
  }
  .mm-btn:before, 
  .mm-btn:after, 
  .mm-next:after {
    border-color: rgba($tan, 0.7);
  }
  .mm-listview>li:after,
  .mm-header {
    border-color: rgba($tan, 0.2);
  }
  .mm-listview>li>a, 
  .mm-listview>li>span {
    &:hover {
      background: rgba(black, 0.1);
    }
  }
  .mm-panel .mm-listview {
    padding-top: 45px;
  }
}
.mm-listview>li:not(.mm-divider):after {
  left: 0;
}

// homepage
.home-images-grid {
	@extend .clearfix;
	
	height: calc(100% - 113px);
	
	.row {
		@include layout($homegrid);
		@include container(960px);
		
		position: relative;
	}
	.top {
		@extend .clearfix;
		height: calc(50% - 59px);
		
		div:nth-child(1) {
			@include span(2 of 5);
			
			background: url('../../img/homegrid/homegrid01.jpg') no-repeat $tan;
			background-size: cover;
			background-position: bottom;
		}
		div:nth-child(2) {
			@include span(2 of 5);
			
			background: url('../../img/homegrid/homegrid02.jpg') no-repeat $tan;
			background-size: cover;
			background-position: center;
		}
		div:nth-child(3) {
			@include span(1 of 5 last);
			
			background: url('../../img/homegrid/homegrid03.jpg') no-repeat $tan;
			background-size: cover;
			background-position: right;
		}
		
		div {
			height: 100%;
			display: block;
			background: #eee;
		}
	}
	
	.middle {
		@extend .clearfix;
		
		display: block;
		width: 100%;
		height: 118px;
		background: url('../../img/middle-bg.jpg') no-repeat $darkbrown;
		background-size: cover;
		color: $offwhite;
		padding: 36px 0;
		margin: 5px 0;
		
		h1 {
			font-family: $sans-serif-light;
			font-size: 2.7rem;
			padding-top: 3px;
			text-transform: uppercase;
			line-height: 1;
			position: relative;
		}
		.btn {
			@include ghost-button($offwhite, $darkbrown, $offwhite);
			@include transition(all);
			
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -20px;
		}
	}
	
	&.home2 .middle {
		background: $offwhite;
		
		h1 {
			color: $brown;
		}
		
		.btn {
			@include ghost-button($brown, $offwhite, $brown);
		}
	}
	
	.bottom {
		@extend .clearfix;
		
		height: calc(50% - 59px);
		
		div:nth-child(1) {
			@include span(1 of 5);
			
			background: url('../../img/homegrid/homegrid04.jpg') no-repeat $tan;
			background-size: cover;
		}
		div:nth-child(2) {
			@include span(2 of 5);
			
			background: url('../../img/homegrid/homegrid05.jpg') no-repeat $tan;
			background-size: cover;
			background-position: center;
		}
		div:nth-child(3) {
			@include span(2 of 5 last);
			
			background: url('../../img/homegrid/homegrid06.jpg') no-repeat $tan;
			background-size: cover;
			background-position: bottom;
		}
		
		div {
			height: 100%;
			display: block;
			background: #eee;
		}
	}
}

// main container
.content {
	@include layout($default);
	@include container(1280px);
	
	height: 100%;
	margin: 0;
	
	
	// content with no sidebar
	.fullwidth {
		@include span(12 of 12 last);
		
		padding: 45px;
		position: relative;
		height: 100%;
		
		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			max-width: 1190px;
		}
	}
	
	
	// table styles
	table {
		width: 100%;
    min-width: 490px;
	}
	
	.rates {
		h5 {
			text-align: center;
			background: lighten($darkbrown, 10);
			color: $offwhite;
			border-left: 1px solid #fafafa;
			border-right: 1px solid #fafafa;
		}
		
		table {
			width: 100%;
			
			tr {
				background: lighten($darkbrown, 60);
				
				&:nth-child(even) {
					background: lighten($darkbrown, 63);
				}
				
				td:nth-child(1) {
					background: lighten($darkbrown, 40);
					text-align: right;
					width: 20%;
					color: darken($darkbrown, 20);
				}
				
				th {
					padding: 8px 20px;
					border: 1px solid #FAFAFA;
					text-align: right;
					background: lighten($darkbrown, 30);
					color: #FFF;
				}
				
				&:hover {
					background: lighten($darkbrown, 53);
					
					td:nth-child(1) {
						background: lighten($darkbrown, 35);
					}
					
					th:nth-child(1) {
						background: lighten($darkbrown, 25);
					}
				}
				
				&:nth-child(1) {
					th {
						background: lighten($darkbrown, 53);
						text-align: center;
						color: $darkbrown;
					}
					&:hover th {
						background: lighten($darkbrown, 48);
					}
				}
			}
			td {
				padding: 8px 20px;
				border: 1px solid #FAFAFA;
				text-align: center;
			}
		}
	}
	
	// left sidebar
	aside {
		@include span(3 of 12);
		height: 100%;
    @include breakpoint($mw-960) {
      display: none;
    }
		
		.fixedscroll {
			height: 100%;
		}
		
		// sidebar navigation
		.widgetarea {
			padding: 82px 0;
			background: url(../../img/sidenavbg.jpg) left top no-repeat;
			background-size: cover;
			height: 100%;
      overflow-y: scroll;
			
			h5 {
				padding: 0 45px 8px;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				border-bottom: 2px solid rgba(255, 255, 255, 0.3);
				letter-spacing: 1px;
				font-family: $bodytext;
				color: $offwhite;
				
				a {
					color: $offwhite;
					
					&:hover {
						opacity: .8;
					}
				}
			}
			
			ul li {
        position: relative;
        
				a {
					font-size: 12px;
					padding: 10px 45px;
					display: block;
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
					color: rgba(255,255,255,0.85);
					
					&:hover,
					&.active {
						background: rgba(0,0,0,0.2);
					}
				}
        span {
          font-family: $bodytext;
					font-size: 13px;
					color: rgba(white, 0.5);
          position: absolute;
          bottom: 0;
        }
				
				ul li a {
					padding-left: 50px;
					
					&:before {
						content: '\2014 ';
						margin-right: 5px;
					}
				}
			}
			
			&.recentposts ul li a {
				font-size: 16px;
				font-family: $bodytext;
				
				span {
					font-family: $bodytext;
					font-size: 13px;
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}
		
		.textbox {
			margin: 0 45px;
			
			h4 {
				font-size: 18px;
				color: rgba(255,255,255,0.8);
			}
		}
		h6 {
			font-size: 16px;
			color: $offwhite;
		}
		label {
			color: rgba(255,255,255,0.6);
			font-size: 12px;
		}
		input,
		select,
		textarea {
			margin-bottom: 0px;
			height: 30px;
		}
		textarea {
			height: 70px;
		}
		
		img {
			display: block;
			margin-bottom: 5px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.textbox {
			color: rgba(255,255,255,0.6);
			margin-top: 12px;
			font-size: 13px;
			
			a {
				color: rgba(255,255,255,0.9);
				
				&:hover {
					color: #fff;
				}
			}
			i {
				margin-right: 7px;
			}
			
			.divider {
				border-color: rgba(255,255,255,0.3);
			}
		}
	}
	
	// right content
	article.main {
		@include span(9 of 12 last);
		padding: 45px 61px 45px 25px;
    @include breakpoint($mw-960) {
      width: 100%;
      margin: 0;
      padding: 45px;
    }
    @include breakpoint($mw-480) {
      padding-left: 20px;
      padding-right: 20px;
    }
		
		form {
			background: #FFF;
			padding: 40px;
			border: 5px solid #EEE;
      @include breakpoint($mw-480) {
        padding: 20px;
      }
			
			&.comments {
				background: none;
				border: none;
				padding: 0;
				
				input, 
				select,
				textarea {
					background: #fff;
				}
				
				input[type=submit] {
					background: lighten($red, 9);
					
					&:hover {
						background: lighten($red, 15);
					}
				}
			}
		}
		
	}
.recent-press {
  a {
    padding-bottom: 10px !important;
  }
  span {
    display: block;
    position: relative !important;
    bottom: auto !important;
    left: auto;
  }
}
	
	// footer navigation
	.pagenavigation {
		@include layout($homegrid);
		@extend .clearfix;
		
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 20px 0;
		margin-top: 60px;
		overflow: hidden;
		position: relative;
		clear: both;
		
		
		.previous {
			@include span(2 of 6);
			background: $yellow;
      @include breakpoint($mw-1090) {
        @include span(3 of 6);
      }
      @include breakpoint($mw-767) {
        @include span(6 of 6 last);
      }
      .image-holder {
        background-image: url('/img/pagenavigation/prev.jpg');
        background-size: cover;
        background-position: left center;
      }
		}
		.next {
			@include span(4 of 6 last);
			background: $red;
      @include breakpoint($mw-1090) {
        @include span(3 of 6 last);
      }
      @include breakpoint($mw-767) {
        @include span(6 of 6 last);
      }
      .image-holder {
        background-image: url('/img/pagenavigation/next.jpg');
        background-size: cover;
        background-position: right center;
      }
		}
		
		figure {
			border: 5px solid #eee;
			overflow: hidden;
			position: relative;
      min-height: 136px;
      max-height: 136px;
			
			.image-holder {
				position: absolute;
				display: block;	
				max-width: none;
        height: 100%;
				width: calc(100% + 50px);
				opacity: 0.7;
				transform: translate3d(-40px,0,0);
				transition: opacity 0.35s, transform 0.35s;
        margin: 0;
        border: none;
			}

			figcaption {
				color: $offwhite;

				> div {
					position: absolute;
					top: 0;
					left: 0;
					padding: 32px 30px;
					width: 100%;
					height: 100%;

					h2 {
						font-family: $bodytext;
						font-size: 19px;
						font-weight: bold;
						line-height: 1;
						text-transform: uppercase;
						letter-spacing: 1px;
						
						transition: transform 0.35s;
					}
					
					a {
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
					
					p {
						font-size: 14px;
						font-weight: 300;
						letter-spacing: 1px;
						
						opacity: 0;
						transition: opacity 0.2s, transform 0.35s;
						
						span:after {
							content: '|';
							padding: 0 5px;
						}
					}
					
					h2, p {
						color: $offwhite;
						transform: translate3d(0,40px,0);
					}
				}
			}
			
			&:hover .image-holder {
				opacity: .5;
			}
			&:hover p {
				opacity: 1;
			}
			
			&:hover .image-holder,
			&:hover h2,
			&:hover p {
				transform: translate3d(-5px,0,0);
			}
			
			&:hover p {
				transition-delay: 0.05s;
				transition-duration: 0.35s;
			}
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: $bodytext;
		position: relative;
		
		color: lighten($darkbrown, 20);
	}
		
	.pagetitle {
		border-bottom: 6px solid #EEE;
		margin-bottom: 20px;
		line-height: 1.5;
		color: lighten($red, 5);
		position: relative;
		span {
      @include breakpoint($mw-690) {
        display: block;
      }
    }
    
		.solidbtn {
			@include re-solidbtn();
			position: absolute;
			right: 0;
			top: 17px;
      @include breakpoint($mw-690) {
        position: relative;
        top: -17px;
      }
      @include breakpoint($mw-480) {
        top: -12px;
      }
		}
	}
		
	.floatimg {
		padding: 5px;
		background: #EEE;
		margin: 30px 0;
			
		figcaption {
			font-size: 13px;
			text-align: center;
		}
	}

	
	.overview {
		@include container;
		@include layout($homegrid);
			
		.overviewpage {
			@include span(1 of 2);
			position: relative;
			margin-bottom: 7px;
			overflow: hidden;
			border: 5px solid #eee;
			background: $brown;
      @include breakpoint($mw-840) {
        @include span(2 of 2 last);
        height: 200px;
      }
      @include breakpoint($mw-480) {
        height: 253px;
      }
				
			figure {
				.image-holder {
          background-image: url("/img/pagenavigation/next.jpg");
          background-size: cover;
          background-position: center center;
					position: relative;
					display: block;
					max-width: none;
          height: 224px;
					width: calc(100% + 50px);
					opacity: 0.7;
					transform: translate3d(-40px,0,0);
					transition: opacity 0.35s, transform 0.35s;
          @include breakpoint($mw-840) {
            height: 200px;
          }
          @include breakpoint($mw-480) {
            height: 253px;
          }
				}
					
				figcaption {
					.text-holder {
						position: absolute;
						top: 0;
						left: 0;
						padding: 50px 38px;
						width: 100%;
						height: 100%;
            @include breakpoint($mw-960) {
              padding: 26px 38px;
            }
            @include breakpoint($mw-480) {
              padding: 20px;
            }
							
						h2 {
							font-family: $bodytext;
							font-size: 24px;
							font-weight: bold;
							text-transform: uppercase;
							transition: transform 0.35s;
							line-height: 1.2;
							letter-spacing: 1px;
							margin-bottom: 5px;
							text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
              @include breakpoint($mw-960) {
                font-size: 20px;
              }
						}
							
						a {
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
						}
							
						p {
							font-size: 14px;
							font-weight: 300;
							letter-spacing: 1px;
							opacity: 0;
							transition: opacity 0.2s, transform 0.35s;

							span:after {
								content: '|';
								padding: 0 5px;
							}
						}
							
						h2, p {
							color: $offwhite;
							transform: translate3d(0,40px,0);
						}
					}
				}
					
				&:hover .image-holder {
					opacity: .3;
				}
				&:hover .text-holder p {
					opacity: 1;
				}

				&:hover .image-holder,
				&:hover .text-holder h2,
				&:hover .text-holder p {
					transform: translate3d(0,0,0);
				}
				
				&:hover .text-holder p {
					transition-delay: 0.05s;
					transition-duration: 0.35s;
				}
			}
			
			&:nth-child(2n) {
				@include span(1 of 2 last);
        @include breakpoint($mw-840) {
          @include span(2 of 2 last);
        }
			}
			&:last-child {
				@include span(2 of 2 last);
			}
		}
	}
}

// buttons
.solidbtn {
	padding: 4px 20px;
	background: lighten($red, 6);
	color: $offwhite;
	display: inline-block;
	border-radius: 4px;
	margin-right: 7px;
	position: relative;
  margin-bottom: 3px;
  margin-top: 3px;
	
	&:hover {
		background: lighten($red, 9);
		color: $offwhite;
	}
	
	&.red {
		background: lighten($red, 6);
		
		&:hover {
			background: lighten($red, 9);
		}
	}
	&.blue {
		background: lighten($blue, 6);
		
		&:hover {
			background: lighten($blue, 9);
		}
	}
	&.brown {
		background: lighten($darkbrown, 16);
		
		&:hover {
			background: lighten($darkbrown, 19);
		}
	}
	&.yellow {
		background: lighten($yellow, 6);
		
		&:hover {
			background: lighten($yellow, 9);
		}
	}
	
	&.ic {
		padding-left: 15px;
		i {
			margin-right: 7px;
		}
	}
}

// img styles
img.alignright,
figure.alignright {
	width: 50%;
	margin: 0 0 20px 20px;
	float: right;
	border: 5px solid #EEE;
  @include breakpoint($mw-480) {
    width: auto !important;
    margin: 20px 0 !important;
    float: none !important;
  }
}
img.alignleft,
figure.alignleft {
	width: 50%;
	margin: 0 20px 20px 0;
	float: left;
	border: 5px solid #EEE;
  @include breakpoint($mw-480) {
    width: auto !important;
    margin: 20px 0 !important;
    float: none !important;
  }
}
img.featuredimg {
	width:23%;
	margin-bottom: 10px;
}
.textimg {
	@extend .clearfix;
}


// slides.js

#slides {
	position: relative;
	border: 5px solid #eee;
}
.slidesjs-navigation {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -41px;
	width: 40px;
	text-align: center;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	padding: 9px 0;
	font-size: 40px;
	color: $offwhite;
	border-radius: 4px;
	
	&:hover {
		background: rgba(0,0,0,0.7);
		color: $offwhite;
	}
	
	&.slidesjs-next {
		right: 10px;
		
		&:before {
			content: '\f105';
			@extend .fa;
		}
	}
	&.slidesjs-previous {
		left: 10px;
		
		&:before {
			content: '\f104';
			@extend .fa;
		}
	}
}
.slidesjs-pagination,
.slidesjs-play,
.slidesjs-stop {
	display: none;
}

.mealgrid {
	@include container();
	@include layout($interior);
	
	margin-top: 60px;
	
	.item {
		@include span(1 of 2);
		padding: 0 40px 10px;
		border: 5px solid #eee;
		background: #FFF;
		margin-bottom: 20px;
		min-height: 462px;
    @include breakpoint($mw-767) {
      padding: 0 20px 10px;
    }
    @include breakpoint($mw-690) {
      width: 100%;
      margin-right: 0;
      min-height: inherit;
    }
		
		&:nth-child(2n) {
			@include last();
		}
		
		h4 {
			color: $red;
			margin-top: 20px;
		}
		
		img {
			margin-left: -40px;
			margin-top: -1px;
			width: calc(100% + 81px);
			max-width: none;
      @include breakpoint($mw-767) {
        width: calc(100% + 41px);
        margin-left: -20px;
      }
		}
	}
}

.blog .posts .item {
  padding-left: 270px;
  min-height: 297px;
  @include breakpoint($mw-767) {
    padding-left: 40px;
  }
  @include breakpoint($mw-480) {
    padding: 20px;
  }
  img.alignleft {
    position: absolute;
    left: 40px;
    top: 40px;
    @include breakpoint($mw-767) {
      position: relative;
      left: auto;
      top: auto;
      margin-bottom: 15px;
      float: none;
    }
  }
  a {
    display: inline-block;
  }
}
.posts {
	@include container();
	@include layout($interior);
	
	.item {
		@include span(2 of 2 last);
		background: #FFF;
		padding: 40px;
		border: 5px solid #EEE;
		margin-bottom: 20px;
    position: relative;
    @include breakpoint($mw-580) {
      padding: 20px;
    }
		a {
			font-family: $bodytext;
			font-size: 23px;
      display: block;
      @include breakpoint($mw-580) {
        font-size: 18px;
      }
		}
		
		a.solidbtn {
			@include re-solidbtn();
		}
		
		img {
			max-height: 49px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
    .press a {
      margin-left: -9px;
      @include breakpoint($mw-580) {
        margin-left: 0;
      }
    }
	}
}

.blog {
	.item {
	
		img {
			width: 205px;
			max-height: none;
			margin-bottom: 0;
		}
		p {
			margin-top: 7px;
		}
	}
	
	.solidbtn {
		@include re-solidbtn();
	}
}


// footer
footer {
	@extend .clearfix;
	margin-top: 10px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
	text-align: right;
	font-size: 13px;
	position: relative;
  @include breakpoint($mw-767) {
    text-align: left;
  }
	
	.socialmedia {
		float: right;
		margin-left: 14px;
    @include breakpoint($mw-480) {
      float: none;
      margin-left: -10px;
      margin-bottom: 10px;
    }
				
		ul li {
			margin-left: 10px;
			
			&:after {
				display: none;
			}
		}
	}
	.copyright {
		float: left;
		font-size: 11px;
		margin-bottom: 0;
		padding-top: 2px;
    @include breakpoint($mw-767) {
      width: 100%;
      float: none;
      clear: both;
    }
	}
	
	nav {
		float: right;
		display: inline-block;
    @include breakpoint($mw-767) {
      float: left;
    }
	}
	ul li {
		display: inline-block;
		margin-right: 7px;
		
		&:after {
			content: '|';
			margin-left: 7px;
		}
		
		&:last-child {
			margin-right: 0;
			
			&:after {
				content: '';
				margin-left: 0;
			}
		}
	}
}

// form styles
form {
	div div {		
			margin-bottom: 10px;
	}
	
	.personal {
		@include container();
			
		div {
			@include span(3 of 12);
      @include breakpoint($mw-767) {
        @include span(6 of 12);
      }
      @include breakpoint($mw-480) {
        @include span(12 of 12 last);
      }
			
			&:nth-child(1) {
				@include span(6 of 12);
        @include breakpoint($mw-767) {
          @include span(12 of 12 last);
        }
			}
			&:nth-child(3) {
				@include last();
			}
		}
	}
	
	.address {
		@include container();
		
		div {
			@include span(2 of 12);
      @include breakpoint($mw-767) {
        @include span(4 of 12);
      }
      @include breakpoint($mw-480) {
        @include span(12 of 12 last);
      }
			
			&:nth-child(1) {
				@include span(6 of 12);
        @include breakpoint($mw-767) {
          @include span(12 of 12 last);
        }
			}
			
			&:nth-child(4) {
				@include last();
			}
		}
	}
	
	.party {
		@include container();
		
		div {
			@include span(3 of 12);
      @include breakpoint($mw-767) {
        @include span(6 of 12);
        &:nth-child(2) {
          @include last();
        }
      }
      @include breakpoint($mw-480) {
        @include span(12 of 12 last);
      }
			
			&:nth-child(4) {
				@include last();
			}
      
		}
	}
	
	.misc {
		@include container();
		
		div {
			@include span(3 of 12);
		  @include breakpoint($mw-767) {
        @include span(6 of 12);
      }
      @include breakpoint($mw-480) {
        @include span(12 of 12 last);
      }
		
			&:nth-child(1) {
				@include span(6 of 12);
        @include breakpoint($mw-767) {
          @include span(12 of 12 last);
        }
			}

			&:nth-child(3) {
				@include last();
			}
		}
	}
	
	label {
		display: block;
	}
	
	input, 
	select,
	textarea {
		width: 100%;
		padding: 9px 14px;
		border: 1px solid #DDD;
		margin-top: 5px;
		background-color: #fafafa;
		height: 40px;
		border-radius: 4px;
		
		&:focus {
			outline: none;
			border-color: #444;
		}
	}
	input:autofill,
	textarea:autofill,
	select:autofill {
		background-color: #000;
	}
	
	textarea {
		height: 200px;
	}
	input[type=submit] {
		background-color: lighten($red, 9);
		border: none;
		color: $offwhite;
		cursor: hand;
		cursor: pointer;
		
		&:hover {
			background-color: lighten($red, 15);
		}
	}
}

.googlemap {
	border: 5px solid #eee;
}

.pagination {
	ul li {
		display: inline-block;
		margin-right: 7px;
    
    &.active a {
		  background: lighten($red, 9);
		  color: white;
						
		  &:hover {
			  background: lighten($red, 15);
		  }
		}
				
		a {		
			display: block;
			color: $bodytext;
			padding: 4px 24px;
			background: #eee;
			border-radius: 4px;
					
			&:hover {
				background: darken(#eee, 5);
			}
		}
	}
}
.newsletter,
.quickcontact {
	margin-top: 40px;
	
	span {
		display: block;
		margin-bottom: 5px;
	}
}

.socialshare {
	float: right;
  @include breakpoint($mw-480) {
    float: none;
    margin-top: 10px;
  }
	
	ul li {
		display: inline-block;
		margin-right: 6px;
		
		a {
			background: lighten($darkbrown, 20);
			color: $offwhite;
			display: block;
			width: 22px;
			text-align: center;
			border-radius: 3px;
			
			&:hover {
				background: lighten($darkbrown, 25);
			}
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	ul:before {
		content: 'Share: ';
		padding-right: 7px;
		color: lighten($red, 9);
	}
}

// gallery 

.gallery {
	@extend .clearfix;
  width: 100%;
	height: calc(100vh - 103px) !important;
	
	.row {
		@include layout($homegrid);
		@include container(960px);
	}
		
  div {
		height: 100%;
		display: block;
	  background-color: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
		position: relative;
    border: 2px solid white;
    &.size-1x1 {
      width: 25%;
      height: 50%;
      @include breakpoint($mw-767) {
        width: 50%;
      }
      @include breakpoint($mw-480) {
        width: 100%;
      }
    }
    &.size-1x2 {
      width: 25%;
      height: 100%;
      @include breakpoint($mw-767) {
        width: 50%;
      }
      @include breakpoint($mw-480) {
        width: 100%;
      }
    }
    &.size-2x1 {
      display: block;
      width: 50%;
      height: 50%;
      @include breakpoint($mw-480) {
        width: 100%;
      }
    }
    &.size-3x1 {
      display: block;
      width: 75%;
      height: 50%;
      @include breakpoint($mw-767) {
        width: 100%;
      }
    }
    &.size-4x1 {
      display: block;
      width: 100%;
      height: 50%;
    }
    &.size-2x2 {
      width: 50%;
      height: 100%;
      @include breakpoint($mw-767) {
        width: 100%;
      }
    }
    &.size-3x2 {
      display: block;
      width: 75%;
      height: 100%;
      @include breakpoint($mw-767) {
        width: 100%;
      }
    }
    &.size-4x2 {
      display: block;
      width: 100%;
      height: 100%;
    }
			
		figure {
		  opacity: 0;
		  position: absolute;
		  left: 0;
		  top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      padding: 0 40px;
      color: $offwhite;
      transition: opacity 0.2s ease-in-out;
      display: table;

      figcaption {
        display: table-cell;
        vertical-align: middle;
      }
		}
			
		&:hover figure {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
	}
}

// comments
.comment-meta {
  text-align: left;
  border-bottom: none;
}
.comment {
  border: 5px solid #EEE;
  padding: 40px;
  background: #FFF;
  margin-bottom: 30px;
  position: relative;
  @include breakpoint($mw-480) {
    padding: 20px;
  }
  
  .comment {
    border: none;
    border-top: 1px solid #eee;
    padding: 20px 0 20px 40px;
    margin-top: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      @include fontawesome('\f112');
      position: absolute;
      left: 9px;
      top: 33px;
      transform: rotate(180deg);
    }
  }
}

// homepage slider
.home-slick {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 103px);
  margin-bottom: 0;
  @include breakpoint($mw-1090) {
    height: calc(100vh - 156px);
  }
  @include breakpoint($mw-960) {
    height: calc(100vh - 103px);
  }
  @include breakpoint($mh-600) {
    height: 500px;
  }
  
  div {
    display: block;
    width: 100%;
    height: 100%;
    background: $brown;
    transform: scale(1);
    transform-origin: 20% 80%;
    transition: transform 0 linear;
    transition-delay: 1s;
    @include breakpoint($mw-960) {
      height: calc(100vh - 103px);
    }
    @include breakpoint($mh-600) {
      height: 500px;
    }
    &.slowZoom {
      .image-holder {
        transform: scale(1.3) rotate(0.1deg);
        transition: transform 30s linear;
      }
    }
    .image-holder {
      position: relative;
      margin-top: -203px;
      transition: transform 0s linear;
      transition-delay: 4s;
      transform: scale(1) rotate(0deg);
      display: block;
      min-width: 100%;
      max-width: 100%;
      height: calc(100vh + 103px);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;  
      @include breakpoint($mw-1260) {
        height: calc(100vh + 203px);
      }
      @include breakpoint($mh-600) {
        height: calc(500px + 203px) !important;
      }
    }
  }
}

.cta-overlay {
  color: lighten($lightbrown, 30);
  position: absolute;
  right: 45px;
  bottom: 40px;
  height: auto;
  width: 480px;
  text-shadow: 2px 2px 1px rgba(black, 0.6);
  @include breakpoint($mw-1260) {
    bottom: 90px;
  }
  @include breakpoint($mw-960) {
    right: auto;
    left: 45px;
  }
  @include breakpoint($mw-580) {
    width: 100%;
    padding: 0 20px;
    left: 0;
  }
  @include breakpoint($mh-600) {
    top: 200px;
  }
  
  h4 {
    margin-bottom: 10px;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 1px;
    border-bottom: 1px solid $lightbrown;
    padding-bottom: 10px;
    font-family: $serif;
    @include breakpoint($mw-580) {
      font-size: 26px;
    }
    
    span {
      display: block;
      font-size: 15px;
      text-transform: none;
      font-weight: 600;
      font-family: $bodytext;
    }
  }
  h1 {
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 14px;
    img {
      width: 63px;
      float: left;
      margin-right: 14px;
    }
  }
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.818;
    margin-bottom: 0;
  }
  a {
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    padding: 5px 24px;
    background: lighten($red, 10);
    text-align: center;
    display: block;
    margin-bottom: 7px;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    border-radius: 4px;
    &:hover {
      background: white;
      color: black;
    }
  }
}

// slick slider
.slick-dots {
  text-align: left;
  bottom: 71px;
  max-width: 1190px;
  position: relative;
  padding: 0 45px;
  @include breakpoint($mw-1260) {
    text-align: right;
  }
  @include breakpoint($mw-960) {
    text-align: left;
  }
  @include breakpoint($mw-580) {
    width: 100%;
    padding: 0 20px;
  }
  
  li {
    background: rgba(white, 0.4);
    height: 10px;
    width: 65px;
    &:hover {
      background: rgba(white, 0.6);
    }
    
    &.slick-active {
      background: rgba(white, 0.9);
    }
    
    button{
      height: 10px;
      width: 100%;
      &:before {
        content: '';
      }
    }
  }
}

.error-404 {
  text-align: center;
  padding-top: 90px;
  .four-oh-four {
    font-size: 150px;
    color: rgba($darkbrown, 0.1);
    font-weight: 800;
    font-family: $serif;
    line-height: 1;
  }
  h1 {
    color: $red;
    font-weighT: 900;
  }
  p {
    font-size: 20px;
  }
}


.menulist {
  background: #FFF;
  border: 5px solid #EEE;
  padding: 40px;
  margin-bottom: 30px;
  @include breakpoint($mw-580) {
    padding: 20px;
  }
  h4 {
    color: $red;
  }
  li {
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }
  }
}

.list {
  margin-bottom: 20px;
  
  li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
    
    &.hdr {
      list-style-type: none;
      margin-left: 0;
    }
  }
}

.single-post .content .comment-author img {
  width: auto;
}

.columns-2 .column,
.columns-4 .column {
  @include breakpoint($mw-580) {
    width: 100%;
    margin: 0;
  }
}
ul.copy {
  margin-left: 20px;
}
h5.table {
  padding-top: 12px;
}

.tablewrap {
  margin-bottom: 40px;
  @include breakpoint($mw-580) {
    max-width: 100%;
    overflow-x: scroll;
  }
}

.gcc_msg {
  color: lighten($red, 30);
}

.images-group {
  @include container();
  img {
    @include span(6 of 12);
    &:nth-of-type(2n) {
      @include last();
    }
    @include breakpoint($mw-580) {
      @include span(12 of 12 last);
    }
  }
}
