// transition
@mixin transition($type) {
	transition: $type 0.2s ease-in-out;
}

// ghost button
@mixin ghost-button($color, $hover, $bghover) {
	padding: 6px 32px;
	border: 1px solid $color;
	display: inline-block;
	color: $color;
	font-family: $sans-serif-light;
	text-transform: uppercase;
	
	&:hover {
		background-color: $bghover;
		border-color: $hover;
		color: $hover;
	}
}

@mixin re-solidbtn() {
	font-size: 14px;
	font-family: $bodytext;
	font-weight: normal;
}

@mixin fontawesome($content) {
  content: $content;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}