/* ----------------------------------------------------- */
// addon configuration
/* ----------------------------------------------------- */

// susy configuration
$default: (
	columns: 12,  // The number of columns in your grid
	gutters: .50, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

$homegrid: (
	columns: 5,  // The number of columns in your grid
	gutters: .02, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);
$interior: (
	columns: 5,  // The number of columns in your grid
	gutters: .05, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

// breakpoint config
$breakpoint-default-media: only screen;
$breakpoint-default-feature: max-width;

// define breakpoints
$mw-1260: 1260px;
$mw-1090: 1090px;
$mw-960: 960px;
$mw-840: 840px;
$mw-767: 768px;
$mw-580: 580px;
$mw-480: 480px;
$pair-960-1090: 960px 1090px;

$mh-600: 'max-height' 600px;

// modular scale
$ms-base: 1rem 1.25rem;
$ms-ratio: $golden;  // 1.618

body { font-size: ms(0); }
  h5 { 
    font-size: ms(1); 
    @include breakpoint($mw-480) {
      font-size: ms(0);
    }
  }
  h4 { 
    font-size: ms(2); 
    @include breakpoint($mw-480) {
      font-size: ms(1);
    }
  }
  h3 { 
    font-size: ms(3); 
    @include breakpoint($mw-480) {
      font-size: ms(2);
    }
  }
  h2 { 
    font-size: ms(4); 
    @include breakpoint($mw-480) {
      font-size: ms(3);
    }
  }
  h1 { 
    font-size: ms(5); 
    @include breakpoint($mw-480) {
      font-size: ms(4);
    }
  }

// colors
$tan: #EBE4CD;
$darkbrown: #4C483F;
$brown: #5C4B3A;
$lightbrown: #BCB998;
$offwhite: #fefefe;
$blue: #374C6B;
$red: #88451E;
$yellow: #8B6700;
$green: #5B6D37;



// font variables
$sans-serif-light: 'nexa_lightregular', Helvetica, Arial, sans-serif;
$sans-serif-bold: 'nexa_boldregular', Helvetica, Arial, sans-serif;
$bodytext: 'Lato', helvetica, Arial, sans-serif;
$serif: 'Lora', Georgia, Times New Roman, sans-serif;

// fontawesome
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// header
$headerheight: 103px;
