# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.idahorocky.com
AuthUserFile /var/chroot/home/content/i/d/r/idrocky/html/_vti_pvt/service.pwd
AuthGroupFile /var/chroot/home/content/i/d/r/idrocky/html/_vti_pvt/service.grp
