/* ----------------------------------------------------- */
// addon configuration
/* ----------------------------------------------------- */

// susy configuration
$default: (
	columns: 12,  // The number of columns in your grid
	gutters: .50, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

$homegrid: (
	columns: 5,  // The number of columns in your grid
	gutters: .02, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

// modular scale
$ms-base: 1rem 1.25rem;
$ms-ratio: $golden;  // 1.618

body { font-size: ms(0); }
  h5 { font-size: ms(1); }
  h4 { font-size: ms(2); }
  h3 { font-size: ms(3); }
  h2 { font-size: ms(4); }
  h1 { font-size: ms(5); }

// colors
$tan: #EBE4CD;
$darkbrown: #4C483F;
$offwhite: #fefefe;

// fonts
@font-face {
    font-family: 'garamondregular';
    src: url('../fonts/garamond_regular-webfont.eot');
    src: url('../fonts/garamond_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/garamond_regular-webfont.woff2') format('woff2'),
         url('../fonts/garamond_regular-webfont.woff') format('woff'),
         url('../fonts/garamond_regular-webfont.ttf') format('truetype'),
         url('../fonts/garamond_regular-webfont.svg#garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa_bold-webfont.woff') format('woff'),
         url('../fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa_light-webfont.ttf') format('truetype'),
         url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// font variables
$serif: 'garamondregular', Georgia, serif;
$sans-serif-light: 'nexa_lightregular', Helvetica, Arial, sans-serif;
$sans-serif-bold: 'nexa_boldregular', Helvetica, Arial, sans-serif;


// header
$headerheight: 103px;
