@import "compass";        // compass library
@import "compass/reset";  // css reset
@import "modular-scale";  // default scaling of text based on golden ratio
@import "susy";           // sass based grid

// font libraries ( uncomment the one you want to use )
@import "fontawesome";    // http://fortawesome.github.io/Font-Awesome/cheatsheet/
// @import "icomoon";       // https://icomoon.io/

@import "variables";      // store variables here
@import "mixins";         // store mixins here
@import "base";           // store main styles here