vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jan 2008 16:30:52 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|11 Jan 2008 16:30:52 -0000
vti_filesize:IR|4547
vti_cachedlinkinfo:VX|S|Assets/dbl_rule.gif S|Assets/bullet.gif
vti_cachedsvcrellinks:VX|FSUS|Global/Assets/dbl_rule.gif FSUS|Global/Assets/bullet.gif
vti_backlinkinfo:VX|2_Accommodations/Rooms.html 2B_Parties/Parties.html 3_Activities/Events.html 1_RanchStory/Overview.html 2_Accommodations/Rooms_layer.html 2_Accommodations/Dining.html 3_Activities/Sports.html 5_About/Contact.html 5_About/Employment.html 5_About/Press.html 1_RanchStory/History.html 3_Activities/Links.html index.html
